<mat-card>
  <form class="example-form" [formGroup]="searchFormGroup" (submit)="searchCep()">
    <mat-form-field appearance="fill">
      <mat-label>Busca por CEP:</mat-label>
      <input formControlName="cep" matInput placeholder="00000-000" required mask="00000-000">
      <mat-error *ngIf="searchFormGroup.get('cep').invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="right pad">
      <button mat-raised-button class="custom-buttom">Primary</button>
    </div>
  </form>
</mat-card>
